html, body {
	height:100% !important;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	background:#191919;
}
* {
	margin:0px; /* TODO: Lets find out why this is needed! */
	padding:0px; /* TODO: Lets find out why this is needed! */
}

#ta {
	position: absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:180px;
	margin:0px;
	padding:3px;
	background:none;
	border:none;
	outline:none;
	overflow:hidden;
	font-family: "Courier New", Courier, monospace;
	font-size:15px;
	line-height:17px;
	color:#fff;
	resize:none;
}

#panel {
	position:fixed;
	top:0px;
	bottom:0px;
	right:0px;
	width:180px;
	background:rgba(37,37,37,0.8);
}
#panel > div {
	padding:5px 10px;
}

#panel .heading {
	color:#fff;
	border-bottom: solid 1px #fff;
	padding-bottom:2px;
	width:90%;
	margin-bottom:15px;
}
#panel .heading span {
	text-transform:uppercase;
	font-family: "Courier New", Courier, monospace;
	font-weight:bold;
	border-bottom:solid 2px #fff;
}

#panel .option {
	color:#ccc;
	height:20px;
	font-family: "Courier New", Courier, monospace;
	font-weight:bold;
}
#panel .option div {
	float:left;
	
}
#panel .option div.input {
	width:20px;
}
#panel .option div.desc {
	
}